/* Boilerplate */

body {
  background-color: #B0C4DE;
}

/* Layout */

main {
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: white;
}

h2 {
  margin: 0 auto 0.5em;
}

.content {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
}

.col-md-6 {
  padding: 0.5em;
  padding-right: 0.75em;
}


/* Input */

#input {
  background-color: #F0F8FF;
  border-radius: 1em;
  padding: 1em;
}

label {
  display: block;
}

textarea {
  width: 90%;
  margin: 0 auto 1em;
  border-radius: 0.5em;
  border-style: none;
  border: 1px solid #B0C4DE;
  padding: 0.5em;
  box-shadow: none;
  text-align: center;
}

input {
  border-radius: 0.25em;
  border-style: none;
  border: 1px solid #B0C4DE;
  text-align: center;
}

#input_submit {
  display: block;
  margin: 1em auto;
}


/* Output */

#output {
  background-color: #F0F8FF;
  border-radius: 1em;
  padding: 1em;
}

#converted_citation_container {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
}

#conversion_error {
  display: none;
  color: red;
  margin: 0;
}

#converted_citation {
  all: initial;
}

.right {
  text-align: center;
}

#loading_gif {
  display: none;
  /*border: 1px solid red;*/
  width: 100%;
  text-align: center;
}