/* Boilerplate */

:root {
  --background-color: #e8e8e8;
  --content-color: #52658f;
  --cell-color: #f7f5e6;
  --text-color: #333a56;
}


body {
  background-color: var(--background-color);
  font-family: 'Droid Serif', serif;
  color: var(--text-color);
}

/* Layout */

.wrapper {
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: white;
}

h2 {
  margin: 0 auto 0.5em;
}

.content {
  background-color: var(--content-color);
  border-radius: 1em;
  padding: 0.5em;
  text-align: center;
}

.col-md-6 {
  padding: 0.5em;
}

.col-sm-3 {
  padding: 0.25em;
}

.blue_background {
  background-color: var(--cell-color);
  border-radius: 1em;
  padding: 1em;
}


/* Input */

label {
  display: block;
}

textarea {
  width: 90%;
  margin: 0 auto 1em;
  border-radius: 0.5em;
  border-style: none;
  border: 1px solid var(--background-color);
  padding: 0.5em;
  box-shadow: none;
  text-align: center;
}

input {
  border-radius: 0.25em;
  border-style: none;
  border: 1px solid var(--background-color);
  text-align: center;
}

#input_submit {
  display: block;
  margin: 1em auto;
}


/* Output */

#conversion_container {
  min-height: 68px;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
}

#conversion_error {
  display: none;
  color: red;
  margin: 0;
}

#converted_citation {
  all: initial;
}

.right {
  text-align: center;
}

#loading_gif {
  display: none;
  height: 3em;
}


/* Instructions */

#instructions_container {
  margin-top: 1em;
}

h3 {
  margin: 0.5em auto;
  color: var(--cell-color);
}

.instruct {
  vertical-align: middle;
}

.instruct_num {
  /*padding: -5px;*/
  margin-bottom: -0.25em;
  font-size: 2em;
}

.instruct_text {
  vertical-align: middle;
  margin: 0;
  padding: 4px;
  text-align: center;
}