/* Boilerplate */

:root {
  /*--background-color: #e8e8e8;*/
  --background-color: white;
  --content-color: #52658f;
  --cell-color: #f7f5e6;
  --text-color: #333a56;
}


body {
  background-color: var(--background-color);
  font-family: 'Droid Serif', serif;
  color: var(--text-color);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* Header */

header {
  text-align: bottom;
}

.main_title {
  display: inline-block;
  margin: 9px auto;
}

a {
  color: var(--content-color);
}

hr {
  display: block;
  height: 2px;
  background-color: var(--text-color);
  margin: 0 -2em;
  border: 0;
  padding: 0;
  /*-moz-box-shadow: 0 0 1px var(--text-color);*/
  /*-webkit-box-shadow: 0 0 1px var(--text-color);*/
  /*box-shadow: 0 0 1px var(--text-color);*/
}

.nav {
  min-height: 39.6px;
  display: inline-block;
  float: right;
  margin-top: 9px;
}

.nav_link {
  display: inline-block;
  margin: 0 0.5em;
  padding-top: 11px;
}
/* Main */

main {
  margin: 1.5em auto;
}

.content {
  background-color: var(--content-color);
  border-radius: 1em;
  padding: 0.5em;
  text-align: center;
  /*-moz-box-shadow: 0 0 1px var(--content-color);*/
  /*-webkit-box-shadow: 0 0 1px var(--content-color);*/
  /*box-shadow: 0 0 1px var(--content-color);*/
}

.col {
  padding: 0.25em;
}


.cell {
  background-color: var(--cell-color);
  margin: 0.5em;
  border-radius: 1em;
  padding: 1em;
  /*-moz-box-shadow: 0 0 1px var(--cell-color);*/
  /*-webkit-box-shadow: 0 0 1px var(--cell-color);*/
  /*box-shadow: 0 0 1px var(--cell-color);*/
}

.cell_title {
  margin: 0 auto 0.5em;
}

dd {
  margin-bottom: 1em;
}

/* Error and Flash Messages */

.alert {
  border-radius: 0.75em;
  padding: 0.75em;
}

.error {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.success {
  color: #3c763d;;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;;
}

/* Input */

label {
  display: block;
}

textarea {
  width: 90%;
  margin: 0 auto 1em;
  border-radius: 0.5em;
  border-style: none;
  border: 1px solid var(--background-color);
  padding: 0.5em;
  box-shadow: none;
  text-align: center;
}

input {
  border-radius: 0.25em;
  border-style: none;
  border: 1px solid var(--background-color);
  text-align: center;
}

#input_submit {
  display: block;
  margin: 1em auto;
}


/* Output */

#conversion_container {
  min-height: 70px;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
}

#conversion_error {
  display: none;
  color: red;
  margin: 0;
}

#converted_citation {
  all: initial;
}

.right {
  text-align: center;
}

#loading_gif {
  display: none;
  height: 3em;
}


/* Instructions */

#instructions_container {
  margin-top: 1em;
}

.instruct_title {
  margin: 0.5em auto;
  color: var(--cell-color);
}

.instruct {
  vertical-align: middle;
}

.instruct_num {
  margin-bottom: -0.25em;
  font-size: 2em;
}

.instruct_text {
  margin: 0;
  padding: 4px;
  text-align: center;
}