<!doctype html>
<title>Citatr</title>

<!-- Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif">
<!-- Bootstrap Styling -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Bootstrap JS (latest compiled and minified)  -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Custom Styling -->
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/homepage.css') }}">


<!-- jQuery -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery_3_1_1.js') }}"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Custom JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
<body>
  <div class='wrapper'>
    <header>
      <h1 class='main_title'><a href="/">Citatr</a></h1>
      {% if session.logged_in %}
        <div class='nav'>
          <h3 class='nav_link'><a href="{{ url_for('index') }}">Home</a></h3>
          <h3 class='nav_link'><a href="#">About</a></h3>
          <h3 class='nav_link'><a href="#">Contact</a></h3>
          <h3 class='nav_link'><a href="{{ url_for('logout') }}">Log Out</a></h3>
        </div>
      {% else %}
        <div class='nav'>
          <h3 class='nav_link'><a href="{{ url_for('signup') }}">Create Account</a></h3>
        </div>
      {% endif %}
      <hr>
    </header>
    <main>
      {% for message in get_flashed_messages() %}<div class='alert success'><strong>Success:</strong>{{ " " + message }}</div>{% endfor %}
      {% if error %}<p class='alert error'><strong>Error:</strong>{{ " " + error }}{% endif %}
      {% block body %}{% endblock %}
    </main>
    <footer>

    </footer>
  </div>
</body>
