{% extends "layout.html" %}
{% block body %}
  <div class='col-sm-3'></div>
  <div class='col-sm-6'>
    <div class='content'>
      <div class='cell'>
        <h2 class='cell_title'>Log In</h2>
        <form action="{{ url_for('login') }}" method="post">
          <dl>
            <dt>Username:
            <dd><input type="text" name="username">
            <dt>Password:
            <dd><input type="password" name="password">
            <dd><input type="submit" value="Login">
          </dl>
        </form>
      </div>
    </div>
  </div>
  <div class='col-sm-3'></div>
{% endblock %}