{% extends "layout.html" %}
{% block body %}
  {% if error %} <p class=error><strong>Error:</strong>{{ error }}{% endif %}
  <div class='col-md-6'>
    <div id='input'>
      <h2>Initial Westlaw Citation</h2>
      <form id='input_form' action="/convert" >
        <label for="input[text]">Westlaw Citation</label>
        <textarea name="input[text]" id="input_text" cols="30" rows="8"></textarea>
        <label for="input[pages]">Pages</label>
        <input type="text" name="input[pages]" id="input_pages">
        <input type="submit" id='input_submit' class='btn btn-primary' value='Convert Citation'>
      </form>
    </div>
  </div>


  <div class='col-md-6'>
    <div id='output'>
      <h2>Converted Bluebook Citation</h2>
      <div id='converted_citation_container'>
        <p name='converted_citation' id='converted_citation'></p>
      </div>
    </div>
    <div id='loading_gif' class='col-md-6'>
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif">
    </div>
  </div>
{% endblock %}