{% extends "layout.html" %}
{% block body %}
  {% if error %} <p class=error><strong>Error:</strong>{{ error }}{% endif %}
  <div class='content row'>
    <div id='input'class='col col-md-6'>
      <div class='cell'>
        <h2 class='cell_title'>Initial Westlaw Citation</h2>
        <form id='input_form' action="/convert" >
          <!-- <label for="input[text]">Westlaw Citation</label> -->
          <textarea name="input[text]" id="input_text" cols="30" rows="8"></textarea>
          <label for="input[pages]">Pages</label>
          <input type="text" name="input[pages]" id="input_pages">
          <input type="submit" id='input_submit' class='btn btn-primary' value='Convert Citation'>
        </form>
      </div>
    </div>

    <div id='output' class='col col-md-6'>
      <div class='cell'>
        <h2 class='cell_title'>Converted Bluebook Citation</h2>
        <div id='conversion_container'>
          <p id='conversion_error'>Citation conversion error. Please make sure you have the current format!</p>
          <p name='converted_citation' id='converted_citation'></p>
          <img id='loading_gif' src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif">
        </div>
      </div>
    </div>
  </div>

  <div id='instructions_container' class='content row'>
    <h3 class='instruct_title'>Instructions</h3>
    <div class='col col-sm-3'>
      <div class='cell instruct'>
        <p class='instruct_text'>Copy/paste the Westlaw case citation into the box above.</p>
        <p class='instruct_num'>1</p>
      </div>
    </div>
    <div class='col col-sm-3'>
      <div class='cell instruct'>
        <p class='instruct_text'>Enter the pages referenced into the Pages text box.</p>
        <p class='instruct_num'>2</p>
      </div>
    </div>
    <div class='col col-sm-3'>
      <div class='cell instruct'>
        <p class='instruct_text'>Click 'Convert Citation' to generate Bluebook citation.</p>
        <p class='instruct_num'>3</p>
      </div>
    </div>
    <div class='col col-sm-3'>
      <div class='cell instruct'>
        <p class='instruct_text'>Copy the generated Bluebook citation. Done!</p>
        <p class='instruct_num'>4</p>
      </div>
    </div>
  </div>
{% endblock %}