<!doctype html>
<title>Citatr</title>

<!-- Bootstrap Styling -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Bootstrap JS (latest compiled and minified)  -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/homepage.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='jquery_3_1_1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='application.js') }}"></script>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<body>
  <main>
    <h1>Citatr</h1>
    <div class='content row'>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
  </main>
</body>
